<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email content</title>
    <%- await include('styles.ejs') %>
</head>
<body>
    <div class="container">
        <img src="https://www.unitrustinsurance.com/images/unitrust.jpg" width="200px" style="display: block; margin: 0 auto;" />
        <div class="white-bg">
            <div class="header">
                <h1 class="title">Welcome <%= userName %></h1>
            </div>
            <div class="content">
                <p class="title">We wanted to keep</p>
                <p class="description">You are registered to the application.</p>

                <p class="info">
                    <span>Card Number:</span> GT-363VV
                </p>
                <p class="info">
                    <span>Policy number:</span> GT-363VV
                </p>
                <div class="space"></div>
            </div>
            <footer>
                <p>© 2024 Unitrust. All rights reserved.</p>
                <p>info@unitrustinsurance.com | 105B, Ajose Adeogun Street,Victoria Island,Lagos, Nigeria</p>
                <p style="font-size: 9px; font-weight: 300; margin-top: 10px">This message is addressed <% if(email){ %>to [<%= email %>]<% } %> in connection with your use of the <strong>Unitrust Insurance CO. LTD</strong> platform.</p>
            </footer>
        </div>
    </div>
</body>
</html>